@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: #F7F5F1;
    box-sizing: border-box;
    margin: 5%;
}

h2 a { color:#0072BB; }

h2 a:visited { color:#03588E; }

#table-container {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #78C272;
}

table {
    width: 100%;
    border-collapse: collapse;

}

thead {
    background-color: #78C272;
    color: #F7F5F1;
    font-size: 1.1em;
}

/* Style for odd rows */
tbody tr:nth-child(odd) {
    background-color: #F1F9F0;
    
}

/* Style for even rows */
tbody tr:nth-child(even) {
    background-color: #FFF;
}

th, td {
    padding: 8px;
    text-align: center;
}


#programming-slides-link, #design-slides-link, #lecture-youtube-link {
    text-decoration: none;
    color: #055864;
    font-weight: 600;
}

#programming-slides-link {
    color:#0072BB;
}